{{define "main"}}
<div class="main">

	<h4 class="sk3-flex sk3-flex-center-h">Hi, I'm a streamer.. this is my 'website'</h4>
	<!--social link-->
	{{if site.Params.sociallink}}
	<div class="sk3-flex sk3-flex-center-h">
		{{partial "social-link.html" .}}
	</div>
	{{end}}
	<div></div>

	<a href="http://twitch.keyb1nd.live" target="_blank">
		<h1 class="sk3-flex sk3-flex-center-h">MY STREAM</h1>
	</a>


	<a href="https://discord.gg/4hSJpUzHRb" target="_blank">
		<h1 class="sk3-flex sk3-flex-center-h">COMMUNITY DISCORD</h1>
	</a>
	<!--_index.md-->
	<!-- {{if not .IsHome}}
	{{with .Title}}
	<h2>
		<heading>{{.}}</heading>
	</h2>
	{{end}}
	{{with .Content}}
	<div>
		<article>{{.}}</article>
	</div>
	{{end}}
	{{end}} -->

	<h1 class="sk3-flex sk3-flex-center-h">Stream Commands</h1>
	<section class="sk3-flex sk3-flex-center-h">

		<div class="sk3-card box">
			<div class="sk3-flex">
				<h3>Social Commands</h3>
			</div>
			<div>
				!facebook <br>
				!website <br>
				!twitter<br>
				!instagram<br>
				!tiktok<br>
				!youtube<br>
				!snapchat<br>
				!onlyfans<br>
				!reddit<br>
				!discord<br>
				!twitch<br>
			</div>
		</div>

		<div class="sk3-card box">
			<div class="sk3-flex">
				<h3>Other Commands</h3>
			</div>
			<div>!commands - list of all commands<br>
				!lurk - how to lurk on the channel <br>
				!points - check how many points you have <br>
				!giveaway - check out the next giveaway<br>
				!hi - say hi!<br>
				!rule34 <br>
				!tips - tips <br>
				!media - media share <br>
			</div>
		</div>

	</section>

	<!--$paginator-->
	{{$p := where site.RegularPages "Type" "in" site.Params.mainSections}}
	{{$paginator := .Paginate $p}}

	<div></div>

	<!--pagination-->
	<div class="sk3-flex sk3-flex-center-h">
		<sk3-pager>{{template "_internal/pagination.html" .}}</sk3-pager>
	</div>

	<div></div>
	<h1 class="sk3-flex sk3-flex-center-h">Games..</h1>

	<!--cards-->
	<section class="sk3-flex sk3-flex-center-h">
		{{range $paginator.Pages}}
		<div class="sk3-card box">
			<div class="sk3-flex">
				<!-- <a class="sk3-flex-inline" href="{{.RelPermalink}}"> -->
				<h3>{{.Title}}</h3>
				<!-- </a> -->
				{{if site.Params.card.date}}
				{{if and site.Params.listlastmod .Lastmod}}
				{{else}}
				{{end}}
				{{end}}
			</div>
			{{if site.Params.card.summary}}<div>{{.Summary}}</div>{{end}}
		</div>
		{{end}}
	</section>

	<div></div>




	<div></div>

</div>
{{end}}